@CHARSET "ISO-8859-1";

#uno._4-3-3 {
	display: inline-block;

}

#dos._4-3-3 {
	display: inline-block;

}

#tres._4-3-3 {
	display: inline-block;

}

#cuatro._4-3-3 {
	display: inline-block;

}

#cinco._4-3-3 {
	display: inline-block;

}

#seis._4-3-3 {
	display: inline-block;

}

#siete._4-3-3 {
	display: inline-block;

}

#ocho._4-3-3 {
	display: inline-block;

}

#nueve._4-3-3 {

	display: inline-block;

}

#diez._4-3-3 {

	display: inline-block;
}

#once._4-3-3 {

	display: inline-block;
}

#cancha > div > div > div{
	padding: 0px 20% 0px 20% !important;
}
